<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAlarmKitUsageDescription</key>
	<string>iOzZZ needs alarm access to wake you up at your scheduled times and require a captcha to dismiss.</string>
	<key>NFCReaderUsageDescription</key>
	<string>iOzZZ uses NFC to scan tags as a captcha to dismiss your alarm.</string>
	<key>com.apple.developer.nfc.readersession.iso7816.select-identifiers</key>
	<array>
		<string>*</string>
	</array>
</dict>
</plist>
